@model MovieViewModel

<div class="d-flex justify-content-center text-center row">
    <div class="card col-4" style="width: 20rem;">
        <div class="card-body">

            <h5 class="card-title mt-1">@Model.Title</h5>
            <p class="mb-0">Director: @Model.Director</p>
            <p class="mb-0">Rating: @Model.Genre</p>
            <p>Genre: @Model.Genre</p>
            <p class="mb-0">Release Date: @Model.ReleaseDate</p>
        </div>

        <form class="input-group-sm" asp-route-movieId="@Model.Id" asp-controller="AddReview" asp-action="AddReview" method="post">
            <input type="submit" value="Add Review" class="fs-6 btn btn-success mb-3 p-2" />
        </form>
    </div>
</div>
